<div fxLayout="row" fxLayoutAlign="center center">
    <mat-card fxFlex.xs="100" fxFlex.sm="80" fxFlex.gt-sm="60">
        <mat-card-header>
            <mat-card-title>Configuration</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div fxLayout="row" fxLayoutGap="14px grid">
                <mat-form-field fxFlex="70">
                    <input matInput [(ngModel)]="configData.serverAddress" placeholder="Server Address">
                </mat-form-field>
                <mat-form-field fxFlex="30">
                    <input matInput [(ngModel)]="configData.port" placeholder="Port">
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutGap="14px grid">
                <mat-form-field fxFlex="100">
                    <input matInput [(ngModel)]="configData.auth0ClientId" placeholder="Auth0 Client Id">
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutGap="14px grid">
                <mat-form-field fxFlex="100">
                    <input matInput [(ngModel)]="configData.auth0Client2Id" placeholder="Auth0 Client Id">
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutGap="14px grid">
                <mat-form-field fxFlex="100">
                    <input matInput [(ngModel)]="configData.auth0Audience" placeholder="Auth0 Audience">
                </mat-form-field>
            </div>
        </mat-card-content>
        <mat-card-actions align="end"> 
            <button mat-button>Cancel</button>
            <button mat-button>Test</button>
        </mat-card-actions>
    </mat-card>
</div>